.drag-scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  cursor: grab;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

/* Hide scrollbar */
.drag-scroll-container::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.drag-scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.drag-scroll-container:active {
  cursor: grabbing;
}
